@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  /* 1920px로 지정하지않기 */
  width: 100%;
  background-color: antiquewhite;
  display: flex;

  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
nav > a:hover {
  text-decoration: underline;
}
.navIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
#menu {
  width: 20px;
  height: 20px;
  position: relative;
}
#menu:after {
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  opacity: 0;
  /* 속도감 */
  transition: all 0.3s;
  position: absolute;
  top: -6px;
  left: -7px;
}
#menu:hover::after {
  opacity: 1;
}
/* a메뉴안에 컨텐데 */
#menu:before {
  content: attr(aria-label); /*aria-leabel의 값을 사용할것이다*/
  /* atribute 아디안에 속성을 찾겠다 */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 12px;
  opacity: 0;
  white-space: nowrap; /*글자 텍스트 줄바꿈 방지*/
  transition: all 0.3s;
}
#menu:hover:before {
  opacity: 1;
}
#menu svg {
  position: relative;
  width: 100%;
  opacity: 0.5;
}
/* 로그인 */
#login {
  width: 70px;
  height: 30px;
  color: white;
  background-color: #4484f3;
  border: 0;
  border-radius: 3px;
}
.main-wrap {
  margin-top: 200px;
  text-align: center;
  /* background-color: #4484f3; */
  padding: 50px;
}
/* 검색바 */
.search_bar {
  width: 70%;
  /* 반응형 */
  max-width: 600px;
  min-width: 310px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
.search_bar i {
}
.search_bar input {
  width: 60%;
  padding: 5px;
  border: none;
  outline: none;
}
.search-icon {
  width: 10%;
  /* 반응형 */
  min-width: 48px;
  display: flex;
  gap: 10px;
  background-color: aqua;
}
.search-icon a {
  width: calc(100% / 2);
}
.search-icon a img {
  width: 100%;
}
/* 검색버튼 */
.plus {
  width: 50%;

  margin: auto;
  max-width: 550px;
  min-width: 200px;
}
.plus ul {
  display: flex;
  /* 넓이가 좁아지면 팅겨라 */
  flex-wrap: wrap;
}
.plus ul li {
  position: relative;
  width: calc(100% / 5);
  max-width: 110px;
}
.plus ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.plus ul li a img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
/* 호버했을때 이밈지 */
.hover_bg {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  height: 107px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.hover_bg img {
  position: absolute;
  top: 10px;
  right: 0;
  opacity: 0;
}
.plus li:hover .hover_bg {
  opacity: 1;
}
.plus li:hover .hover_bg img {
  opacity: 1;
  /* 시간차가 있게 호버 */
  transition: all 1s ease-in-out;
  transition-delay: 0.3s;
}
.plus ul li a span {
  font-size: 14px;
  /* 줄 바뀜 */
  white-space: nowrap;
  overflow: hidden;
  /* 말줄임 표시 */
  text-overflow: ellipsis;
  /* 넓이가 있어야지 잡음 */
  max-width: 80px;
}
/* 버튼 */
.btn {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  gap: 10px;
  width: 50%;
}
.btn button {
  border: 0;
  height: 30px;
  padding: 0 15px;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  color: #666;
  border-radius: 3px;
  cursor: pointer;
}
.btn button:hover {
  border: 1px solid #ccc;
  color: #333;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
/* 반응형 */
@media screen and (max-width: 390px) {
  /* flex 반응형 */
  .plus ul li {
    /* 5개에서 4개니까 한개는 튕김 */
    width: calc(100% / 4);
  }
}
@media screen and (max-width: 768px) {
  .plus ul li {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 530px) {
  .plus ul li {
    width: calc(100% / 2);
  }
  .btn {
    flex-direction: column;
    
  .btn button{
    width: 150px;
  }
}
@media screen and (max-width: 390px) {
  .search_bar {
    padding: 5px 15px;
  }
  .main-wrap > img {
    width: 200px;
  }
}
